* {
	font-family: Arial, sans-serif;
}

body {
	margin: auto;
	text-align: center;
}


h1 {
	font-family: 'Monoton', cursive;
	font-size: 5em;
	margin: 0 auto;
}

#gridControl {
	display: flex;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 40px;
		width: 40px;
}

td {
    width: 40px;
}
